<div class="alert alert-<%= color %>  d-flex align-items-center" role="alert">
    <div>
        <%= msg %>
            <% if (kode==1) { %>
                Kembali : <a href="/getusers">Cek Semua data</a>
                <% } %>
    </div>
</div>