<div class="container" style="margin-top: 15em;">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-8 offset-2">
            <h1 class="fw-bold">Selamat Datang</h1>
            <p class="text-muted">Ini adalah project sederahana CRUD menggunakan image</p>
        </div>
    </div>
</div>