<div class="container" style="margin-top: 15em;">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1>Selamat Datang</h1>
            <p>Ini adalah project sederahana CRUD menggunakan image</p>
        </div>
        <div class="col-6">
            <img src="images/gambar.svg" alt="gambar" width="100%">
        </div>
    </div>
</div>